# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================================
# Virtual Environments
# ==========================================
venv/
.venv/
env/

# ==========================================
# IDE
# ==========================================
.idea/
.vscode/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Spark
# ==========================================
spark-warehouse/
metastore_db/
derby.log

# ==========================================
# Logs
# Keep folder, ignore generated logs
# ==========================================
logs/*
!logs/.gitkeep

# ==========================================
# Trained Models
# Keep folder, ignore generated models
# ==========================================
models/*
!models/.gitkeep

# ==========================================
# Data Lake
# Bronze contains source CSV files (commit them)
# Silver & Gold contain generated outputs
# ==========================================
data_lake/silver/*
!data_lake/silver/.gitkeep

data_lake/gold/*
!data_lake/gold/.gitkeep

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db